*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;   
}

a{
    text-decoration: none;
}

:root{
    --hot_pink: #FF5F9E;
    --deep_pink: #E90064;
    --dark_pink: #B3005E;
    --darker_deep_pink: #AA0049;
    --navy_blue: #060047;
    --darker_navy_blue: #050132;
    --whitesmoke: #F5F5F5;
    --black: #151414;
    --obsidian: #020403;
    --cloud: #C5C6D0;
}

body{
    background-color: var(--obsidian);
    overflow-x: hidden;
}

#nav-bar{
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(6, 0, 71, 0.4);
    box-shadow: -1rem 0 3rem #000;
    z-index: 100;
}

#nav-bar.sticky{
    position: fixed;
    background-color: var(--navy_blue);
}

.nav-logo{
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: center;
    font-family: "Monomaniac One", sans-serif;
    font-weight: 400;
    font-style: normal;
    gap: 12px;
    padding-left: 2.4vw;
}

.nav-logo > img{
    width: min(48px, 16vw);
    height: min(48px, auto)
}

.nav-logo > h4{
    font-size: clamp(2.5rem, 3vw, 3rem);
    color: var(--hot_pink);
}

.nav-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding-right: 2.4vw;
}

.nav-buttons > li {
    list-style: none;
}

.nav-buttons > li > a{
    display: block;
    text-decoration: none;
    text-align: center;
    align-items: center;
    color: var(--whitesmoke);
    font-size: 1.2rem;
    font-family: "Nova Square", sans-serif;
    font-style: normal;
}

#nav-normal{
    transition: 0.25s ease-in-out;
    border-bottom: 2px solid var(--navy_blue);
}

#nav-login{
    transition: 0.25s ease-in-out;
    border: 2px solid var(--deep_pink);
    border-radius: 4px;
    padding: 4px 1.5vw;
}

#nav-reg{
    transition: 0.25s ease-in-out;
    border: 2px solid var(--deep_pink);
    background-color: var(--deep_pink);
    border-radius: 4px;
    padding: 4px 1vw;
}

#burger-menu{
    display: none;
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    color: whitesmoke;
    font-size: 1.2rem;
}

#nav-reg:hover{
    background-color: var(--darker_deep_pink);
}

#nav-login:hover{
    background-color: var(--darker_deep_pink);
}

#nav-normal:hover{
    border-bottom: 2px solid var(--deep_pink);
}

.hero-section{
    width: 100%;
    height: 450px;
    background-image: linear-gradient(to bottom, #012357 20%, #3d2868, #6c2770, #97236e, #bd2463);
}
#hero-canvas{
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: 1;
}
#hero-div{
    width: 100%;
    height: 450px;
    position: relative;
}
.hero-container{
    background-color: transparent;
    width: 74vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    position: absolute;
    left: max(10vw, 12vw);
    top: 24%;
    z-index: 10;
}
.hero-container > img{
    width: 270px;
    height: 270px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.album-details{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.album-details > h1{
    font-size: clamp(2.6rem, 10vw, 5.6rem);
    color: whitesmoke;
    font-weight: 200;
}

.album-details > h2{
    font-size: clamp(1rem, 2.4vw, 4rem);
    color: whitesmoke;
    font-weight: 400;
}

.extras{
    gap: 12px;
    padding-bottom: 24px;
    align-items: center;
}

#play-button{
    width: 64px;
    height: 64px;
    border-radius: 100%;
    border: none;
    background-color: var(--darker_navy_blue);
    transition: 0.2s ease-in-out;
}

#play-button:hover{
    background-color: var(--navy_blue);
}

#play-button:hover > i{
    font-size: x-large;
}

#play-button > i{
    color: var(--whitesmoke);
    font-size: 20px;
    transition: 0.2s ease-in-out;
}

#like-button{
    width: 64px;
    height: 64px;
    border-radius: 100%;
    border: none;
    background-color: transparent;
}

#like-button > i{
    color: var(--whitesmoke);
    font-size: 30px;
    transition: 0.2s ease-in-out;
}

#like-button:hover > i{
    font-size: x-large;
}

#opt-button{
    width: 64px;
    height: 64px;
    border: none;
    background-color: transparent;
    transition: 0.2s ease-in-out;
}

#opt-button > i{
    font-size: 30px;
    color: var(--whitesmoke);
}

#opt-button:hover > i{
    color: var(--cloud);
}

.main-section{
    height: fit-content;
    background-image: linear-gradient(rgba(189, 36, 99, 0.9), transparent 120px);
    display: flex;
    flex-direction: column;
    padding: 4vh 9.2vw;
    gap: 2vh;
}
.lyrics-div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 10px;
}
.accordion{
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: var(--whitesmoke);
    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--cloud);
    border-top: 1px solid var(--cloud);
    padding: 2vh 1vw;
}

.credits-div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 10px;
}

.panel{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
    gap: 20px;
    height: fit-content;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.divider{
    border: 0.2px solid gray;
    padding-left: 1vw;
}

.lyrics{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.recommend-section{
    justify-content: center;
    align-items: center;
}

.lyrics > p{
    color: var(--whitesmoke);
    font-family: "M PLUS 1", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5em;
}
.credits{
    gap: 10px;
    align-items: center;
    padding-left: 1vw;
}
.credits > h1{
    color: whitesmoke;
    width: 300px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.person-profile{
    gap: 12px;
    align-items: center;
}

.person-profile > img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.person-profile > h3{
    color: whitesmoke;
    font-family: "Ubuntu", sans-serif;
    font-weight: 800;
    font-style: normal;
}


#footer{
    width: 100%;
    height: 400px;
    background-color: var(--obsidian);
    display: flex;
    justify-content: center;
}

.footer-text{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
    gap: 10vw;
    width: 100%;
    padding-top: 8vh;
}

.footer-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 4vh;
    align-items: center;
    justify-content: center;
    height: inherit;
    width: fit-content;
}

.footer-list{
    display: flex;
    flex-direction: column;
    width: 260px;
    height: fit-content;
    gap: 20px;
}

.footer-list > h1{
    color: var(--whitesmoke);
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: clamp(1.8rem, 2.2vw, 1.6rem);
}

.footer-list > ol {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 24px;
    font-size: 1.6rem;
}

.footer-list > ol > li > a{
    color: var(--cloud);
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1.5rem, 2vw, 1.5rem);;
    text-decoration: none;
    transition: 0.16s ease-in-out;
}

.footer-list > ol > li > a:hover{
    color: var(--whitesmoke);
}

.footer-logo{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10vw;
}

.social-media{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
}

.social-media > a > img{
    width: 40px;
    height: 40px
}

.social-media > a > img:hover{
    opacity: 0.5;
}
.copyright{
    display: flex;
    align-items: center;
}
.copyright > h1{
    color: rgba(255,255,255, 0.25);
    font-size: 1.1em;
    font-family: 'Times New Roman', Times, serif;
}
.recommend-section > h1{
    font-size: clamp(1.3em, 20vw, 2em);
    margin-bottom: 3vh;
    color: var(--whitesmoke);
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    height: 52px;
    width: 320px;
    text-align: center;
    border-radius: 10px;
    background-color: var(--darker_deep_pink);
}
.carousel{
    width: 82%;
    position: relative;
}
.inner-carousel{
    width: 100%;
    height: 500px;
    overflow: hidden;
}   
.track{
    display: inline-flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    gap: 12px;
}

.song-card{
    width: 300px;
    height: 400px;
    background-color: var(--navy_blue);
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
    cursor: pointer;
}

.song-details{
    width: 80%;
    padding: 0px 20px;
    gap: 4px;
    color: var(--whitesmoke);
    font-family: "Ubuntu", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.song-details > h3{
    font-size: 1.6em;
}

.song-details > h4{
    font-size: 1em;
}

.song-card > img{
    width: 240px;
    height: 240px;
    border-radius: 4px;
}

.carousel-button button{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    height: 48px;
    width: 48px;
    border: none;
    border-radius: 80%;
    background-color: var(--deep_pink);
    cursor: pointer;
}

.carousel-button button > i{
    font-size: 20px;
    color: var(--whitesmoke);
}

.carousel-button .prev{
    left: -2%;
    display: none;
}

.carousel-button .prev.show{
    display: block;
}

.carousel-button .next{
    right: -2%;
}

.carousel-button .next.hide{
    display: none;
}

@media screen and (max-width: 1080px){
    #footer{
        height: fit-content;
        padding-bottom: 24px;
    }

    .footer-text, .footer-logo{
        flex-direction: column;
    }

    .footer-logo{
        gap: 1vh;
    }
    
    .footer-logo > .nav-logo{
        width: inherit;
        padding-left: 0px;
        justify-content: center;
    }
}

@media screen and (max-width: 768px){
    #home-hero{
        padding-left: 0;
    }
    #burger-menu{
        display: block;
        padding-right: 10px;
    }
    #nav-bar{
        flex-direction: column;
        align-items: start;
        z-index: 100;
    }

    .nav-buttons{
        width: 100%;
        flex-direction: column;
        padding-bottom: 1.5vh;
        background-color: var(--navy_blue);
    }

    .nav-buttons{
        display: none;
        width: 100%;
    }

    .nav-buttons > li > a{
        padding: 1vh 1vw;
    }

    .nav-buttons.active{
        display: flex;
    }

    #nav-login{
        transition: 0.25s ease-in-out;
        border: 2px solid var(--navy_blue);
    }

    #nav-reg{
        transition: 0.25s ease-in-out;
        background-color: var(--navy_blue);
        border: 2px solid var(--navy_blue);
    }

    #nav-login:hover{
        background-color: var(--navy_blue);
        border-bottom: 2px solid var(--deep_pink);
    }

    #nav-reg:hover{
        background-color: var(--navy_blue);
        border-bottom: 2px solid var(--deep_pink);
    }

    .hero-container{
        top: 25%
    }
}








